{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    {% endblock %}

    <!--CSS tag-->
    {% block boot %}
    {% endblock %}
</head>

<body>
    <h1>Welcome to Your dashboard</h1>
    <a href="{% url 'tracker:income' %}">Add Income</a>
    <a href="{% url 'tracker:expense' %}">Add Expense</a>
    <a href="{% url 'tracker:dashboard' %}">View Dashboard</a>
    <!--<a href="{% url 'tracker:logout' %}">Logout</a>-->
    <form action="{% url 'tracker:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>

    <!--JS tag-->
    {% block js %}
    {% endblock %}
</body>

</html>
