{% extends "base.html" %}
{% block content %}
    <!--Hero Section-->
    <div class="jumbotron jumbotron-fluid bg-light text-dark py-5">
        <div class="container text-center">
            <h1 class="display-4">Track Your Expenses Effortlessly</h1>
            <p class="lead">Manage your finances, set budgets, and analyze your spending habits.</p>
            {% if not user.is_authenticated %}
                <a href="{% url 'tracker:signup' %}" class="btn btn-primary btn-lg">Get Started</a>
            {% else %}
                <a href="{% url 'tracker:dashboard' %}" class="btn btn-primary btn-lg">Go to the Dashboard</a>
            {% endif %}
        </div>
    </div>
    <!--Features Section-->
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Easy Tracking</h5>
                        <p class="card-text">
                            Log your expenses and income with ease, and keep track of your finances in
                            one place.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Insightful Analytics</h5>
                        <p class="card-text">Vizualize your spending habits and make better financial decisions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Budget Planning</h5>
                        <p class="card-text">Set up monthly budgets and get notifications if you exceed the limits.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
