{% extends "base.html" %}
{% block content %}
    <!-- Signup Form -->
    <div class="container mt-5">
        <h2 class="text-center">Create an Account</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-outline mb-4">
                            {{ field.errors }}
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            {{ field }}
                            {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </form>
                <p class="text-center mt-3">
                    Already have an account? <a href="{% url 'tracker:login' %}">Log in
                    here</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
