body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: cyan;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.help {
    font-size: 0.6875rem;
}
